/* MySkills.css */

/* Styling untuk container grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Membuat grid otomatis berdasarkan ukuran */
    gap: 20px;
    justify-items: center;
  }
  
  /* Efek hover pada skill card */
  .skill-item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .skill-item:hover {
    transform: translateY(-10px); /* Efek mengangkat card */
    box-shadow: 0 4px 20px rgba(25, 107, 231, 0.10.1); /* Efek shadow lebih besar saat hover */
  }
  
  .card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #3c76f4;
  }
  